h2 Party Champions - Why?

hr 

h4 🤔 But, why are you trying to make money from us? I’m already showing my support by being an user of the app!

p Since the beginning, we have been a free app, providing a solution to solve our own problem as much as yours. 

p This was our thought process: Build a great app → attract a lot of users → get investment to grow the app further → grow more users → think about how to turn this into a money-making business later. We’ve been focused on building a great app and growing a great community, but we’ve realized that we need to shift our mentality and bring in some revenue too.

p Running an app of our size, of course, is not free. It costs over €150,000 a year just to maintain. But we’re lucky to have had some ‘true believer’ early investors, who believe in the concept, and have been supporting our growth to date. 

p Although we've met with many potential follow-on investors in the past months, we've been told that we need to show more. A model focused solely on user growth or product experience does not work so well in today's investment climate. Investors want to see that users value the app enough to be willing to pay for it.

p We’ve grown to almost 200k users globally (without spending on marketing), many of whom tell us everyday how much they love the app. We’ve heard amazing stories from our community about epic nights out, and great connections that have been forged, through our app. We love that! And we want to keep creating those sort of experiences for many more people around the world.

blockquote
	p The potential is huge and... we want to realise that potential! With Champions’ support we can get the platform to the next level (and get there faster).

p We don’t pay ourselves much, about the same as 1 engineer in Silicon Valley, for our team of 5. Why? We’re a hardworking team of hustlers who are dedicated to our mission of connecting the world in a more authentic and fun way.

p If you believe in us, and our mission, and want to see the app succeed (and in turn create an even more useful app for yourself) - become a Champion! Help us prove that our app is providing real value to people’s lives and help the app reach the next level.

hr

h4 ✅ Verification
p We take our community seriously and will only approve Champions we deem deserve the tag.  We carefully check if you are who you say you are based on your PartyWith profile. If we are unable to verify you or if you have obviously tried to use the app for dating, you won’t be approved for Champion status and we’ll refund your money.

hr

h4 🌟 What are Party Points? 
p
	em (We’ll start building this once we have 100 Champions) 
p By engaging on the app, you'll earn points that convert into party perks. By doing things you do anyway, like connecting with people on the app and adding events, you'll be earning "Party Points"

p Party Points can be exchanged for perks such as a free promotion of your event on the app, free globetrotter features and partner perks (like event tickets or free drinks)

p Champions will be the first people to get access Party Points - as a thank you for supporting the app!

hr

h4 🤘 I’m already a Super Local, why should I become a Champion too?
p Super Locals are the backbone of what makes the app great. We already love you, but certainly also appreciate it if you show your support by also becoming a Champion.

p <strong>In short - if you like what we’re building, support us and become a PartyWith Champion!</strong>
