extends layout

block content
  #logo
    #logo-retina 
      img(src="/assets/images/logo.png")
  .container
    .columns
      .column.is-12.has-text-centered
        h1.title.is-2.is-hero-text(style="margin: 2rem auto") Become an Investor
  .container 
    .columns.is-centered
      .column.is-8
        .box.content
          .videoWrapper
            iframe(src='https://www.youtube.com/embed/RDNEC_K7mW8', width='640', height='480', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

              <iframe width="560" height="315" src="https://www.youtube.com/embed/RDNEC_K7mW8" frameborder="0" allowfullscreen></iframe>
          
          hr
          h2.has-text-centered As Seen In
          .columns.is-centered.as-seen-in
            .column
              a(href="https://techcrunch.com/2017/10/13/partywiths-new-app-is-part-event-finder-part-friend-finder" target="_blank")
                img(src="/assets/images/techcrunch.png")
            .column
              a(href="https://www.inc.com/maisie-devine/this-young-dad-created-a-viral-app-that-is-taking-on-the-710-billion-dollar-nig.html" target="_blank")
                img(src="/assets/images/inc.png")
            .column
              a(href="https://www.producthunt.com/posts/partywith" target="_blank")
                img(src="/assets/images/producthunt.png")
            .column
              a(href="http://www.techstars.com/content/accelerators/announcing-first-class-techstars-connection-partnership-ab-inbev/" target="_blank")
                img(src="/assets/images/techstars.png")

          h2 💸 What if I want to invest in the company & share in the success?
          
          p You’re in luck! For a limited time, we’re opening up our investment round to non-institutional investors: users of the app, and regular people with some spare savings, who believe in our mission - of connecting people in an authentic way… to party (& more beyond that - ask to see our pitch deck, for the bigger vision we are working towards & <a href="https://medium.com/@Dan_Fennessy/my-why-394400148156" target="_blank">read Why</a>).
          
          p Great investment terms for getting on board as an early investor (same as offered to other friends & family recently invested), simple & the possibility to invest from anywhere in the world, plus a low minimum investment amount to be involved.

          p Opportunity become a real part of our company & share in the upside when we make it big!
          
          p Investors don’t get a badge on their profiles… but hopefully we’ll make that up to you - with a bucketload of cash in the not too distant future! 💸

          p Get in touch to see our pitch deck, investment terms, minimum investment amount & to set up a meeting or call with PartyWith Founder & CEO Dan: <a href="mailto:dan@partywith.co">dan@partywith.co</a>