extends layout

block content

  #logo
    #logo-retina 
      img(src="/assets/images/logo.png")
  section#main
    .container
      h1.title.has-text-centered Become a PartyWith Party Starter
      .columns
        .column
          .box.content(style="background: rgba(255,255,255,0.8);")
            p Are you an event organizer, venue, artist, DJ or just a social butterfly that loves getting people together for a good party!?
            p Looking for different and affordable ways of attracting more party-loving people to your events? (Facebook Ads are great for ‘reach’, but how about driving real motivated party people to your event? - see who & how many party people you can reach & how the ROI stacks up against FB ads)
            p By becoming a ‘Party Starter’ your events will be promoted in the app to our very targeted audience of people who love to party. Regular events are free to add, but featured events appear on the 'Explore' screen of the app & generally get 3x more attendees than regular events.


    .container
      #plans
        .plan
          header 3 months
          .pricing €30
          .body
            ul
              li 6 promoted events
              li 2 events per month
          footer
            button.button.is-info Buy Now!
        .plan#most-popular
          header 1 year
          .pricing €80
          .body
            ul
              li 24 promoted events
              li 2 events per month
              li €240,- value!
          footer
            button.button.is-info Buy Now!
        .plan
          header 6 months
          .pricing €50
          .body
            ul
              li 12 promoted events
              li 2 events per month
          footer
            button.button.is-info Buy Now!
      .clearfix 
  section#information
    .container
      h2.title.is-4.has-text-centered
        a(href="https://docs.google.com/presentation/d/1WCYHhWLPqBGkO32xSyanF0Up76g9JzE2ZLo7n2jMSqY/edit#slide=id.g1d70171bfc_0_0") How do we compare with Facebook Ads
      //- .columns.is-centered
      //-   .column.is-12-tablet.is-12-desktop
      //-     .box
      //-       .columns
      //-         .column 
                

        

  .container
    div.has-text-centered
      p(style="color:#fff; padding: 3rem 0;" ) We are the champions, my friends,<br> And we'll keep on partying 'til the end. 😂 🤘