extends layout

block content

  #logo
    #logo-retina 
      img(src="/assets/images/logo.png")
  section#main
    .container
      h1.title.has-text-centered Become a PartyWith Party Starter
    .container
      #plans
        .plan
          header 3 months
          .pricing €30
          .body
            ul
              li 6 promoted events
              li 2 events per month
          footer
            button.button.is-info test
        .plan#most-popular
          header 1 year
          .pricing €80
          .body
            ul
              li 24 promoted events
              li 2 events per month
              li €240,- value!
          footer
            button.button.is-info test
        .plan
          header 6 months
          .pricing €50
          .body
            ul
              li 12 promoted events
              li 2 events per month
          footer
            button.button.is-info test
      .clearfix 
  section#information
    .container
      h2.title.is-4.has-text-centered How do we compare?
      .columns.is-centered
        .column.is-10
          .box
            .columns
              .column 
                .compare 
                  header 
                    h3.subtitle Display Ads
              .column 
                .compare 
                  header 
                    h3.subtitle Facebook Ads
              .column 
                .compare 
                  header 
                    h3.subtitle PartyWith

        

  .container
    div.has-text-centered
      p(style="color:#fff; padding: 3rem 0;" ) We are the champions, my friends,<br> And we'll keep on partying 'til the end. 😂 🤘