extends layout

block content
  
  #logo
    #logo-retina 
      img(src="/assets/images/logo.png")
  #container
    #header
      #header-info(style="width:100%; max-width: 100%; text-align:center;") Thanks, your support means a lot!
    
    #body
      #form-fields.has-text-centered
        p(style="text-align: center;") Check your email for more info, Champion!
        
        p.has-text-centered
          a(href=`/order/${paymentId}`) View your order