/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

* {
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  background: url('/assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position:relative;
  font-family: 'Montserrat', Helvetica, Verdana, Arial, sans-serif;
}
body:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.4+43,1+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 43%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 43%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 43%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

body.modal-open {
    overflow: hidden;

}
.container{max-width: 960px;}
.container, .clearfix {clear: both}
a {
  color: #30baed;
}

.is-hero-text {
  color: #fff;
}
#logo {
  display: block;
    height: 75px;
    margin: 0 auto 30px;
    position: relative;
    width: 320px;
}
#logo #logo-retina {
  background: transparent 50% no-repeat;
    height: 150px;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    left: 50%;
    margin: -75px 0 0 -320px;
    position: absolute;
    top: 50%;
    transform: scale(.5);
    -ms-transform: scale(.5);
    -webkit-transform: scale(.5);
    width: 640px;
}
#logo #logo-retina img {
  display: block;
  margin: 32px auto;
  height: 100%; 
}

#information {
  margin: 3em 0 2em;
}
#information h2, #main h1 {color: #fff;}

/* PLANS */

#plans {
  max-width: 960px;
  margin: 3em auto;
  min-height: 100px;
}

.plan {
  width: 320px;
  min-height: 100px;
  float: left;
  position: relative;
  /*border-right: 3px solid #f2f0ed;*/
}

.plan#most-popular {
  z-index: 2;
  top: -13px;
  border: 3px solid #f2f0ed;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}
.plan#most-popular header {padding: 1em 1em 3em; border-radius: 6px 6px 0 0; font-size: 22px;}
.plan#most-popular .pricing {width: 100px; height: 100px; transform: translateY(-50px);background: #209cee; color: #fff; font-size: 1.8em;}
.plan#most-popular footer {border-radius: 0 0 6px 6px;}


.plan:first-child {border-radius: 6px 0 0 6px;}
.plan:last-child {border-radius: 0 6px 6px 0; border-color: transparent;}
.plan:first-child header {border-radius: 6px 6px 0 0;}
.plan:last-child header {border-radius: 6px 6px 0 0;}
.plan:first-child footer {border-radius: 0 0 6px 6px;}
.plan:last-child footer {border-radius: 0 0 6px 6px;}

.plan header {
  background: #000;
  padding: 1em 1em 3em;
  color: #fff; font-weight: 700;
  text-align: center;
}
.plan .pricing {
  width: 80px; height: 80px;
  display: flex; align-items: center; justify-content: center; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; transform: translateY(-40px);
  background:#fff; box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  border: 3px solid #f2f0ed; border-radius: 100%;
  font-weight: 700; font-size: 1.5em;
}
.plan .body {
  padding: 3em 0 0;
  background: #fff;
}
.plan .body ul li {border-bottom: 1px solid #f2f0ed;padding: 1em 2em; text-align: center;}
.plan .body ul li:last-child {border-width: 0px;}

.plan footer {background: #fff;}
.plan footer .button {width: 100%;} 

/* END PLANS */

/* Compare */

.compare header {text-align: center}

/* END Compare */

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screenshot {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto; 
}

.modal-button-box {
  position: absolute;
  min-width: 150px;
  top: 5px;
  right: 5px;
}
.modal-button {
/*  background-color: #30baed;
*/  width: 100%;
}

.as-seen-in img{
  display: block;
  margin: auto;
  max-width: 100px;
}

@media screen and (max-width: 960px) {
  .plan, .plan:first-child, .plan:last-child {
    float: none;
    margin: 0 auto 1em;
    border-radius: 6px 6px 6px 6px;
  }
}

@media screen and (max-width: 767px) {
    .options {margin-top: 2em;}
    .options .column {display: block; padding: 0 2em;}
}
